@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&family=Open+Sans:wght@300;400&family=Poppins:wght@200;400;600&family=Roboto:wght@400;500&family=Work+Sans:ital,wght@0,300;1,400&display=swap');


@media (prefers-color-scheme: dark) {
    :root {
        /* backgound color: 60% */
        --bgc: #000000;
        /* primary color: 30% */
        --primary: #dd00ff;
        /* secondary color: 9% */
        --secondary: #6600ff;
        /* success color: 1% */
        --success: #10ff10;
        /* danger color 0.01 */
        --danger: #ff0000;
        /* text colors  */
        --textDark: #eeaaaa;
        --textLight: #ffddff;
        --textMuted: #ededed;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        /* backgound color: 60% */
        --bgc: #000000;
        /* primary color: 30% */
        --primary: #dd00ff;
        /* secondary color: 9% */
        --secondary: #6600ff;
        /* success color: 1% */
        --success: #10ff10;
        /* danger color 0.01 */
        --danger: #ff0000;
        /* text colors  */
        --textDark: #00eeff;
        --textLight: #ffddff;
        --textMuted: #ededed;
    }
}

:root {
    --fav_gray: #0f1122;
    --fav_blue: #4e4ee3;
    --fav_pink: #ff9ff3;
    --fav_purple: #b4238e;
    --fav_sky: #69e9f5;
    --fav_sun: #ff6700;
    --fav_gold: #ffdd00;
    --fav_green: #39aa69;

    --fav_gray_shade: #0f1122d6;
    --fav_blue_shade: #4e4ee3d6;
    --fav_pink_shade: #ff9ff3d6;
    --fav_purple_shade: #b4238ed6;
    --fav_sky_shade: #69e9f5d6;
    --fav_sun_shade: #ff6700d6;
    --fav_gold_shade: #ffdd00b6;
    --fav_green_shade: #38aa69;

    /*global shadow on borders */
    --shadow: #00000033;
    --shadowLight: #ffccff;
    /* --gradient: */
    --gradientc1: #eebbff;
    --gradientc2: #ff44dd;
    --gradient: linear-gradient(90deg,
            var(--gradientc1) 10%,
            var(--gradientc2) 100%);

    --color_scheme: light dark;
    --dark_mode: #1a1a1a;
    --night_mode: #212142;
    --light_mode: #cccccc;

    --gradientp1: var(--primary);
    --gradientp2: var(--secondary);
    --gradientbgc: linear-gradient(90deg,
            var(--gradientp1) 10%,
            var(--gradientp2) 100%);

    /* font cofig */
    --font_1: "Poppins";
    --font_2: "Roboto";
    --font_3: "Catamaran";
    --font_4: "Verdana";
    --font_5: "Open Sans";
    --font_6: "Work Sans";
    --font_7: "sans-serif";

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_1), var(--font_2), var(--font_3), var(--font_4), var(--font_5), var(--font_6), var(--font_7) "Segoe UI", Geneva, Tahoma, sans-serif;
    color: var(--text_color_default);
    outline: none;
    list-style: none;
    text-decoration: none;
    /*   font-size: 62.5%; */
}


body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--base_gradient_color2), var(--base_gradient_color1));
    /* background-image: linear-gradient(135deg, #F97794 10%, #623AA2 100%); */
    /* background-image: linear-gradient(135deg, #F97794 10%, #623AA2 100%); */

    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, var(--base_gradient_color1), var(--base_gradient_color2));
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, var(--base_gradient_color1), var(--base_gradient_color2));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(135deg, var(--base_gradient_color1) 10%, var(--base_gradient_color2) 50%);

    background: var(--dark_mode);
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--textDark);
    line-height: 1.25;
    font-weight: 700;
    text-wrap: pretty;
}

p,
div,
span {
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {

    p,
    div,
    span {
        font-size: 0.8rem;
    }
}

p.small {
    font-size: 0.833rem;
}

div,
span,
p {
    color: var(--textLight);
    line-height: 1.6;
    font-weight: 500;
    text-wrap: pretty;
}

.textDark {
    color: var(--textDark);
}

.textLight {
    color: var(--textLight);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #213547;
        color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        color: #f9f9f9;
    }
}

.bg_awesome {
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg,
            var(--primary),
            var(--secondary),
            var(--primary),
            var(--secondary));
    background-size: 400% 400%;
    animation: bg_awesome 20s ease infinite;
    height: 100vh;
}

@keyframes bg_awesome {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    border: none;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--bgc);
    color: var(--textDark);
}

input::placeholder {
    border: none;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
    text-decoration: none;
    background-color: var(--bgc);
    color: var(--textDark);
}

.Line {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(-45deg,
            var(--primary),
            var(--secondary),
            var(--primary),
            var(--secondary));
    animation: bg_awesome 20s ease infinite;
}